<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\" device-width\", initial-scale=1.0">
    <title></title>
</head>

<body>
    <ul>
        {#This is a comment in jinja#}

        <!-- <li>The marks of alex are {{marks['alex']}}</li>
        <li>The marks of Max are {{marks['Max']}}</li>
        <li>The marks of Joe are {{marks['Joe']}}</li> -->
        {% for item in marks %}

        <li>The marks of {{item}} are {{marks[item]}}
            {% if marks.get(item)>80 %}
            <span> GOOD </span>
            {% endif %}
        </li>
        {% endfor %}

    </ul>
</body>

</html>