<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="../assets/another_style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    loerm23 ipsum dolor sit amet consectetur adipisicing elit. Hic, doloribus aspernatur? Magni,
    iste odit, saepe consequatur obcaecati facilis quibusdam dolores quos aperiam corrupti labore unde eligendi placeat. Cumque, maiores aut.
    <span>test</span>

</body>
</html>